apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-machine-api

resources:
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - role.yaml
  - rolebinding.yaml
  - job.yaml
