apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-machine-api

resources:
  - ../../../base

patches:
  - target:
      kind: MachineSet
    patch: |-
      apiVersion: machine.openshift.io/v1beta1
      kind: MachineSet
      metadata:
        name: WILL_BE_REPLACED
      spec:
        replicas: 1
        template:
          spec:
            providerSpec:
              value:
                kind: AWSMachineProviderConfig
                apiVersion: machine.openshift.io/v1beta1
                instanceType: g4dn.xlarge
